<header>

    <nav class="navbar">

        <a href="index.html" class="logo">
            Suraj<span>.</span>
        </a>

        <button
            class="menu-toggle"
            id="menu-toggle"
            aria-label="Toggle Navigation">

            ☰

        </button>

        <ul class="nav-links" id="nav-links">

            <li>
                <a href="index.html">Home</a>
            </li>

            <li>
                <a href="projects.html">Projects</a>
            </li>

            <li>
                <a href="about.html">About</a>
            </li>

            <li>
                <a href="contact.html">Contact</a>
            </li>

            <li>

                <a
                    href="https://github.com/surajjha0622"
                    target="_blank">

                    GitHub

                </a>

            </li>

        </ul>

    </nav>

</header>